.container {
	margin: 1rem 0 0 0;
	overflow: scroll;
	width: 20rem;
}
.title {
	font-weight: 900;
	font-size: 1.2rem;
}
.hr {
	margin: 0.3rem 0 0.3rem 0;
	width: 100%;
	border-bottom: 1px dotted #cccccc;
}

.triggerBlock {
	border-bottom: 1px dotted #cccccc;
	border-left: 1px dotted #cccccc;
	border-right: 1px dotted #cccccc;
	padding: 0 0 0.5rem 0.5rem;
	margin: 0 0 0.5rem 0;
	border-radius: 0 0 0.3rem 0.3rem;
}
.addIcons {
	width: 10rem;
	white-space: nowrap;
}

.triggerHeader {
	margin: 0 0 0.1rem 0;
	padding: 0.3rem;
	display: flex;
	flex-direction: row;
	background-color: gainsboro;
	border-radius: 0.3rem 0.3rem 0 0;
}
.triggerHeader:before {
	font-family: "Font Awesome 5 Free";
	content: "\f6a1";
	display: inline-block;
	padding: 0 0.5rem 0 0.2rem;
	vertical-align: middle;
	font-weight: 900;
	margin: 0 0 0 0;
}
.trackHeader {
	border-bottom: 0px dotted #cccccc;
	margin: 0 0 0.3rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #00000024;
	width: 18rem;
	padding: 0;
	border: 0;
	height: 0.9rem;
	padding: 0 0 0 0.3rem;
	border-radius: 0.3rem 0 0 0;
}
.removeAction {
	flex-grow: 1;
	text-align: right;
	color: black;
}
.buttonBorderless {
	color: #22222;
}
.buttonBorderless:hover {
	color: #11111;
}
/*.trackHeader:before {
	font-family: "Font Awesome 5 Free";
	content: "\f7a4";
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	width: 1.5rem;
}*/
.mediaSelect div {
	display: inline-block;
}

.trackBlock {
	border-radius: 0.3rem 0 0.3rem 0;
	line-height: 2rem;
	width: 18.4rem;
	padding: 0 0 0.3rem 0;
	/*border-left: 2px solid #796085;*/
	background-image: linear-gradient(
		135deg,
		#d3d1ff 25%,
		#e9b8ff 25%,
		#e9b8ff 50%,
		#d3d1ff 50%,
		#d3d1ff 75%,
		#e9b8ff 75%,
		#e9b8ff 100%
	);
	background-size: 10px 10px;
	margin: 0.3rem;
}
.dropdown {
	text-align: left;
	flex-grow: 1;
}
.mediaHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.container select {
	width: 16rem;
}
.addTrigger {
	display: flex;
	flex-direction: row;
	align-items: left;
	margin: 0.5rem 0 1rem 0;
}
.addTrigger select {
	width: 20rem;
}
.mediaSelect:before {
	font-family: "Font Awesome 5 Free";
	content: "\f4db";
	display: inline-block;
	padding: 0 0rem 0 0.5rem;
	vertical-align: middle;
	font-weight: 900;
	width: 1.5rem;
	opacity: 0.5;
}

.transitionSelect div {
	display: inline-block;
	font-size: 0.8rem;
}
.transitionSelect:before {
	font-family: "Font Awesome 5 Free";
	content: "\f074";
	display: inline-block;
	padding: 0 0rem 0 0.5rem;
	vertical-align: middle;
	font-weight: 900;
	width: 1.5rem;
	opacity: 0.5;
}

.triggerOptions,
.transitionOptions {
	margin: 0.3rem 0 0.3rem 1.4rem;
	font-size: 0.8rem;
}

.transitionOptions {
	margin: -0.4rem 0 0 2rem;
}

.triggerOptions input {
	width: 16.5rem;
}
.transitionOptions input {
	width: 15.2rem;
}
.triggerOptionsHeader,
.transitionOptionsHeader {
	margin: 0.3rem 0 0rem 0.1rem;
	padding: 0;
	display: flex;
	flex-direction: row;
	color: #5a5959;
}
.transitionOptionsHeader:before,
.triggerOptionsHeader:before {
	font-family: "Font Awesome 5 Free";
	content: "\f085"; /*"\f0da";*/
	display: inline-block;
	padding-right: 0.5rem;
	vertical-align: middle;
	font-weight: 900;
	margin: 0 0 0 0.3rem;
}
.transitionOptionsHeader {
	padding: 0;
	margin: 0 0 0 0.2rem;
}
