.container_player, .container {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  height: calc(100vh - 16rem);
  width: 21rem;
  right: 1rem;
  top: 8rem;
  border-radius: 0.3rem;
  opacity: 0.4;
  font-size: .8rem;
  overflow: scroll;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.container_player {
  opacity: 1;
  z-index: 20;
  top: 0;
  left: 1rem;
  position: relative;
  height: 10rem;
  width:18rem;
  margin-top: 1rem;
  background-color: #cccccc33;
}

.container td {
  font-size: 0.5rem;
}

.container hr {
  width: 100%;
  border-bottom: 1px dotted #cccccc;
}

.container input[type=text] {
  width: 16rem;
  margin: 0;
}

.button {
  margin: 0.5rem auto 0 auto;
  background-color: grey;
  width: 5rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  color: #da8bec;
  font-weight: 900;
  min-width: 4.5rem;
  margin: 0 .5rem 0 0;
}
