@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css';
@import 'https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css';
@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

*:focus {
  outline: none;
}

s .mapMarker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// Spiderfier
.spider-leg-container {
  width: 1px;
  height: 1px;
  overflow: display;
  will-change: transform;
}

.spider-leg-container:hover {
  cursor: pointer;
}

.spider-leg-container .spider-leg-pin {
  position: relative;
  z-index: 1;
}

.spider-leg-container .spider-leg-pin.default-spider-pin {
  width: 22px;
  height: 30px;
  margin: 0;
  background-image: url(./icons/pin_grey.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.spider-leg-container .spider-leg-line {
  position: absolute;
  bottom: 0;
  left: 0.35rem;
  width: 2px;
  background-color: transparent;
  opacity: 0.45;
  transform-origin: bottom;
  z-index: 0;
  height: 0;
}

.spider-leg-container:hover .spider-leg-line {
  opacity: 1;
}

/* Animations specific styles */
.spider-leg-container.animate {
  -webkit-transition: margin 0.15s linear;
  -moz-transition: margin 0.15s linear;
  -ms-transition: margin 0.15s linear;
  -o-transition: margin 0.15s linear;
  transition: margin 0.15s linear;
}

.spider-leg-container.initial,
.spider-leg-container.exit {
  margin-left: 0 !important;
  margin-top: 0 !important;
  height: 0;
}

.spider-leg-container.animate .spider-leg-line {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-transition-delay: inherit;
  -moz-transition-delay: inherit;
  -ms-transition-delay: inherit;
  -o-transition-delay: inherit;
  transition-delay: inherit;
}

.spider-leg-container.animate.initial .spider-leg-line,
.spider-leg-container.animate.exit .spider-leg-line {
  height: 0 !important;
}

.spider-leg-container:hover .spider-leg-line {
  background-color: transparent;
}

@media (hover: hover) {
  .itemRow:hover {
    background-color: #03dac6; /* colors.secondary */
  }
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  bottom: 45px;
  z-index: 1;
}
.mapboxgl-ctrl-top-left {
  bottom: 45px;
  left: 30rem;
  z-index: 1;
}
